<!DOCTYPE html>
<html lang="en">
{% extends "public/templates/public_template.html" %}

{% block title %}

Home

{%endblock%}


{% block main %}

<div class="conteiner">
    <div class="row">
        <div class="col">
            <h1>Clausulas Registradas</h1>
            <hr>
            <ul>
            {% for clausula in clausulas %}
              <li> {{ loop.index }}: {{clausula}}</li>
            {% endfor %}
            </ul>
            <p style="color: blue;">Não foi posivel carregar as clasulas</p>
        </div>
    </div>
</div>



{%endblock%}

</html>