<!DOCTYPE html>
<html lang="en">
{% extends "public/templates/public_template.html" %}

{% block title %}

Home

{%endblock%}


{% block main %}

<div class="conteiner">
    <div class="row">
        <div class="col">
            <h1>Detalhes</h1>
            <hr>
            <form method="PUT">
                <input name="text">
                <input type="submit">
            </form>
          
        </div>
    </div>
</div>



{%endblock%}

</html>