<!DOCTYPE html>
<html lang="en">
{% extends "public/templates/public_template.html" %}

{% block title %}

Home

{%endblock%}


{% block main %}

<div class="conteiner">
    <div class="row">
        <div class="col">
            <h1>Home</h1>
            <hr>
            <div class="card-body">
                    {{hashes_dict}}

            </div>
        </div>
    </div>
</div>

<p style="color: blue;">this is the Home Page</p>

{%endblock%}

</html>