{% extends "public/templates/public_template.html" %}

{% block title %} Profile {% endblock %}




{% block main %} 


<div class="conteiner">
    <div class="row">
        <div class="col">
            <h1>Profile/</h1>
           <div class="card">
               <div class="card-body">
                   <h4> {{ name }}</h4>
                   <hr>
                    {% if contract %}
                        <p><strong>{{contract["nome"]}}</strong></p>
                        
                    {% else %}
                        <p> User not found</p>
                    {% endif %}
               </div>
           </div>
            <hr>



        </div>
    </div>
</div>


{% endblock %}