<!DOCTYPE html>
<html lang="en">
{% extends "public/templates/public_template.html" %}

{% block title %}

Uoload file

{%endblock%}


{% block main %}
<div class="container">
    <div class="row">
        <div class="col">

            <h1>Upload an Docx</h1>
            <hr>

            <form action="/verificacoes" method="POST" enctype="multipart/form-data" >

                <div class="form-group">
                    <label>Select docx</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="docx" id="docx">
                        <label class="custom-file-label" for="docx">Select docx file</label>
                    </div>
                </div>
                <a href="/index">
                <button type="submit" class="btn btn-primary">Upload</button>
                </a>
            </form>

        </div>
    </div>
</div>


<p style="color: blue;">[{{doc}}]</p>

{%endblock%}

</html>